<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}     
        <link href="{{ asset('assets/bulma.css') }}" rel="stylesheet"/>
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="{{ path('app_home') }}">
                  Home
                </a>
          
                <a class="navbar-item" href="{{ path('app_posts_editor') }}">
                  Editor
                </a>

                <a class="navbar-item" href="{{ path('app_posts_api') }}">
                  /Posts
                </a>

              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    {% if app.user %}
                      <p>
                          You are logged in as {{ app.user.userIdentifier }} <a class="button is-light" href="{{ path('app_logout') }}">Logout</a>
                      </p>
                    {% else %}
                      <a class="button is-primary" href="{{ path('app_login') }}">
                        <strong>Log in</strong>
                      </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </nav>
        <section class="section">
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </section>
        <footer class="footer">
            <div class="content has-text-centered">
              <p>
                Powered by <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>.
              </p>
            </div>
          </footer>
    </body>
</html>
